{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="http://127.0.0.1:8000/"><img src="{% static 'images/logo.png' %}" style="height: 40px; width: 60px;" ></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/">BERANDA</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/analisis">ANALISIS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/artikel">ARTIKEL</a>
            </li>
            <li class="nav-item">
            </li>
          </ul>
        </div>
    </div>
    </nav>
        <title>artikel</title>
  </head>
  <body>
    <h1 class="text-center" style="font-family: Cardo; margin-top: 20px; margin-left:50px;">Artikel Terpopuler</h1>
    <div>
    <h2><a class="item" style="margin-left: 90px;" href="https://health.detik.com/berita-detikhealth/d-5608507/pasien-corona-wisma-atlet-meledak-lagi-hunian-lampaui-75-persen"><img src="{% static 'images/artikel5.png' %}"></a></h2>
    <h2><a class="item" style="margin-left: 90px;" href="https://health.detik.com/berita-detikhealth/d-5608272/separuhnya-dari-jabar-dki-ini-sebaran-9944-kasus-baru-covid-19-ri-16-juni"><img src="{% static 'images/artikel6.png' %}"></a></h2>
    <h2><a class="item" style="margin-left: 90px;" href="https://health.detik.com/berita-detikhealth/d-5608346/seberapa-efektif-vaksin-sinovac-dan-astrazeneca-melawan-varian-corona-di-ri"><img src="{% static 'images/artikel4.png' %}"></a></h2>
    <h2><a class="item" style="margin-left: 90px;" href="https://health.detik.com/berita-detikhealth/d-5607962/update-terkini-perkembangan-vaksin-merah-putih-jadinya-kapan-ready"><img src="{% static 'images/artikel3.png' %}"></a></h2>
    <h2><a class="item" style="margin-left: 90px;" href="https://health.detik.com/berita-detikhealth/d-5607156/varian-corona-delta-menggila-di-kudus-dinkes-telusuri-kontak-erat-28-orang"><img src="{% static 'images/artikel1.png' %}"></a></h2>
    <h2><a class="item" style="margin-left: 90px;" href="https://health.detik.com/berita-detikhealth/d-5607139/pakar-fk-kmk-ugm-ungkap-sederet-bahaya-virus-corona-varian-delta"><img src="{% static 'images/artikel2.png' %}"></a></h2>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
  </body>
</html>
